<STYLE>
BODY, P, TABLE, DIV.CAPTION {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 95%;
}
H1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #3b577d;
}
H2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #3b577d;
}
H3 {
  font-size: 1.4em;
  font-weight: bold;
  color: #3b577d;
}
H4 {
  font-size: 1.2em;
  font-weight: normal;
  color: #3b577d;
}
H5 {
  font-size: 1.1em;
  font-weight: normal;
  color: #3b577d;
}
H6 {
  font-size: 1.05em;
  font-weight: normal;
  color: #3b577d;
}
P {
  font-weight: normal;
}
P.Subject {
  font-size: 1.2em;
  font-weight: normal;
  color: #000099;
  text-align: center;
}
P.Heading {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
P.Title {
  font-size: 1.0em;
  text-align: center;
  margin-top: 0pt;
}
P.Bold {
  font-weight: bold;
}
TABLE{
  border-collapse: collapse;
  border: solid 1px #A5BAD5;
}
TD {
  border: solid 1px #A5BAD5;
  padding: 3px 5px 3px 5px;
  font-weight: normal;
  vertical-align:top
}
DIV.CAPTION {
  font-weight: normal;
  text-align: left;
}
TABLE.FigureTable { 
  border-collapse: collapse;
  border: 0px;
  margin: 0px 0px 0px 0px;
  page-break-inside: avoid;
}
TD.FigureTitle {
  border: 0px;
  padding: 3px 5px 3px 5px;
  font-weight: normal;
  text-align: left;
}
TD.FigurePicture {
  border: 0px;
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  text-align: left;
}
TD.Figure3D {
  border: 1px solid black;
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
TD.FigureClose3D {
  border: 0px;
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}


TD.TDStyle1 {
  font-size: 1.0em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #d1dcea
}

TD.TDStyle2 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  color: #000000;
  background-color: #ffffff
}

TD.TDStyle3 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #e8eef5
}

TD.TDStyle4 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: right;
  color: #000000;
  background-color: #ffffff
}

TD.TDStyle5 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  color: #000000;
  background-color: #e8eef5
}

TD.TDStyle6 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #d1dcea
}

TD.TDStyle7 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff
}

TD.TDStyle8 {
  font-size: 1.0em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #e8eef5
}


</STYLE>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ANSYS Report</title>
</head>
<body>
<p class='Title'><img src='Report/AnsysReportLogo.png'></p>
<p class='Heading'>Date</p>
<p class='Title'> 2016/11/16 14:46:56</p>
<hr>
<h1>Contents</h1>
<p><a href="#SECTION1.">1.&nbsp;File Report</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TABLE1">Table 1</a>&nbsp;&nbsp;File Information for HD_S1_Rev2_001<br>
<a href="#SECTION2.">2.&nbsp;Mesh Report</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TABLE2">Table 2</a>&nbsp;&nbsp;Mesh Information for HD_S1_Rev2_001<br>
<a href="#SECTION3.">3.&nbsp;Physics Report</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TABLE3">Table 3</a>&nbsp;&nbsp;Domain Physics for HD_S1_Rev2_001<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TABLE4">Table 4</a>&nbsp;&nbsp;Boundary Physics for HD_S1_Rev2_001<br>
<a href="#SECTION4.">4.&nbsp;User Data</a><br>
</p>
<hr>

<h1 style='page-break-before:always'><a name=SECTION1.></a>1.&nbsp;File Report</h1>

<a name=TABLE1></a><DIV CLASS=CAPTION><b>Table 1.</b>&nbsp;&nbsp;File Information for HD_S1_Rev2_001</DIV>
<TABLE>
  <TR>
    <TD CLASS=TDStyle1>Case</TD>
    <TD CLASS=TDStyle2>HD_S1_Rev2_001</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1>File Path</TD>
    <TD CLASS=TDStyle2>C:\Users\engs1478\Google Drive\OU Sandbox\Projects\C003\Customer Supplied Docs\TBlock\S1_CFX_Case\HD_S1_Rev2_001.res</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1>File Date</TD>
    <TD CLASS=TDStyle2>09 November 2016</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1>File Time</TD>
    <TD CLASS=TDStyle2>03:43:40 PM</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1>File Type</TD>
    <TD CLASS=TDStyle2>CFX5</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1>File Version</TD>
    <TD CLASS=TDStyle2>17.1</TD>
  </TR>
</TABLE>
&nbsp;<br>

<h1 style='page-break-before:always'><a name=SECTION2.></a>2.&nbsp;Mesh Report</h1>

<a name=TABLE2></a><DIV CLASS=CAPTION><b>Table 2.</b>&nbsp;&nbsp;Mesh Information for HD_S1_Rev2_001</DIV>
<TABLE>
  <TR>
    <TD CLASS=TDStyle1>Domain</TD>
    <TD CLASS=TDStyle1>Nodes</TD>
    <TD CLASS=TDStyle1>Elements</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle3>S1</TD>
    <TD CLASS=TDStyle4>1759446</TD>
    <TD CLASS=TDStyle4>1704272</TD>
  </TR>
</TABLE>
&nbsp;<br>

<h1 style='page-break-before:always'><a name=SECTION3.></a>3.&nbsp;Physics Report</h1>

<a name=TABLE3></a><DIV CLASS=CAPTION><b>Table 3.</b>&nbsp;&nbsp;Domain Physics for HD_S1_Rev2_001</DIV>
<TABLE>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Domain - S1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>Fluid</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>row01_VANE01_S1_001_O_PS, row01_VANE01_S1_001_O_PS1, row01_VANE01_S1_002_O_SS, row01_VANE01_S1_002_O_SS1, row01_VANE01_S1_005_H_IN, row01_VANE01_S1_006_H_PASS, row01_VANE01_S1_007_G_PASS, row01_VANE01_S1_008_H_TE, row01_VANE01_S1_009_H_EXIT</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Materials</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5 colspan="2" >MGT Gas</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fluid Definition</TD>
    <TD CLASS=TDStyle7>Material Library</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Morphology</TD>
    <TD CLASS=TDStyle7>Continuous Fluid</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Buoyancy Model</TD>
    <TD CLASS=TDStyle7>Non Buoyant</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Domain Motion</TD>
    <TD CLASS=TDStyle7>Stationary</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Reference Pressure</TD>
    <TD CLASS=TDStyle7> 0.0000e+00 [Pa]</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer Model</TD>
    <TD CLASS=TDStyle7>Total Energy</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Include Viscous Work Term</TD>
    <TD CLASS=TDStyle7>True</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence Model</TD>
    <TD CLASS=TDStyle7>SST</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulent Wall Functions</TD>
    <TD CLASS=TDStyle7>Automatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High Speed Model</TD>
    <TD CLASS=TDStyle7>Off</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Domain Interface - S1 to S1 Periodic 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List1</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 1 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List2</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 1 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Type</TD>
    <TD CLASS=TDStyle7>Fluid Fluid</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Models</TD>
    <TD CLASS=TDStyle7>Rotational Periodicity</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Axis Definition</TD>
    <TD CLASS=TDStyle7>Coordinate Axis</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rotation Axis</TD>
    <TD CLASS=TDStyle7>Coord 0.1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mesh Connection</TD>
    <TD CLASS=TDStyle7>Automatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Domain Interface - S1 to S1 Periodic 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List1</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 2 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List2</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 2 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Type</TD>
    <TD CLASS=TDStyle7>Fluid Fluid</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Models</TD>
    <TD CLASS=TDStyle7>Rotational Periodicity</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Axis Definition</TD>
    <TD CLASS=TDStyle7>Coordinate Axis</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rotation Axis</TD>
    <TD CLASS=TDStyle7>Coord 0.1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mesh Connection</TD>
    <TD CLASS=TDStyle7>Automatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Domain Interface - S1 to S1 Periodic 3</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List1</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 3 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List2</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 3 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Type</TD>
    <TD CLASS=TDStyle7>Fluid Fluid</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Models</TD>
    <TD CLASS=TDStyle7>Rotational Periodicity</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Axis Definition</TD>
    <TD CLASS=TDStyle7>Coordinate Axis</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rotation Axis</TD>
    <TD CLASS=TDStyle7>Coord 0.1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mesh Connection</TD>
    <TD CLASS=TDStyle7>Automatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Domain Interface - S1 to S1 Periodic 4</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List1</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 4 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Boundary List2</TD>
    <TD CLASS=TDStyle7>S1 to S1 Periodic 4 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Type</TD>
    <TD CLASS=TDStyle7>Fluid Fluid</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Interface Models</TD>
    <TD CLASS=TDStyle7>Rotational Periodicity</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Axis Definition</TD>
    <TD CLASS=TDStyle7>Coordinate Axis</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rotation Axis</TD>
    <TD CLASS=TDStyle7>Coord 0.1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mesh Connection</TD>
    <TD CLASS=TDStyle7>Automatic</TD>
  </TR>
</TABLE>
&nbsp;<br>

<a name=TABLE4></a><DIV CLASS=CAPTION><b>Table 4.</b>&nbsp;&nbsp;Boundary Physics for HD_S1_Rev2_001</DIV>
<TABLE>
  <TR>
    <TD CLASS=TDStyle8>Domain</TD>
    <TD CLASS=TDStyle8 colspan="2" >Boundaries</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle2 rowspan="100" >S1</TD>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - inlet</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INLET</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>row01Inlet</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Flow Direction</TD>
    <TD CLASS=TDStyle7>Cartesian Components</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit Vector X Component</TD>
    <TD CLASS=TDStyle7>S1 Inlet.Velocity u(radius)</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit Vector Y Component</TD>
    <TD CLASS=TDStyle7>S1 Inlet.Velocity v(radius)</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit Vector Z Component</TD>
    <TD CLASS=TDStyle7>S1 Inlet.Velocity w(radius)</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Flow Regime</TD>
    <TD CLASS=TDStyle7>Subsonic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Total Temperature</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Temperature</TD>
    <TD CLASS=TDStyle7>S1 Inlet.Total Temperature(radius)</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Total Pressure</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Relative Pressure</TD>
    <TD CLASS=TDStyle7>S1 Inlet.Total Pressure(radius)</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Medium Intensity and Eddy Viscosity Ratio</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 1 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D CM</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 1 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D CY</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 2 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D FK</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 2 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D FD</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 3 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D FT</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 3 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D FS</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 4 Side 1</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D FU</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 to S1 Periodic 4 Side 2</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>INTERFACE</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>Primitive 2D FV</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Turbulence</TD>
    <TD CLASS=TDStyle7>Conservative Interface Flux</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - outlet</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>OUTLET</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>row01Outlet</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Flow Regime</TD>
    <TD CLASS=TDStyle7>Subsonic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>Average Static Pressure</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pressure Profile Blend</TD>
    <TD CLASS=TDStyle7> 5.0000e-02</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Relative Pressure</TD>
    <TD CLASS=TDStyle7> 1.0000e+06 [Pa]</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Pressure Averaging</TD>
    <TD CLASS=TDStyle7>Average Over Whole Outlet</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 Blade</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>WALL</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>p6 3, p14, row01Blade_Wall_ps, row01Blade_Wall_ss, row01Blade_leak_ps1, row01Blade_leak_ps2, row01Blade_leak_ss</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Adiabatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>No Slip Wall</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Wall Roughness</TD>
    <TD CLASS=TDStyle7>Smooth Wall</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 Hub</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>WALL</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>row01Hub_Wall, row01Hub_leak_iasle, row01Hub_leak_iaste</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Adiabatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>No Slip Wall</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Wall Roughness</TD>
    <TD CLASS=TDStyle7>Smooth Wall</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle1 colspan="2" >Boundary - S1 Tip</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Type</TD>
    <TD CLASS=TDStyle7>WALL</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Location</TD>
    <TD CLASS=TDStyle7>row01Tip_Wall, row01Tip_leak_oasle, row01Tip_leak_oaste</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle6 colspan="2" >Settings</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Heat Transfer</TD>
    <TD CLASS=TDStyle7>Adiabatic</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Mass And Momentum</TD>
    <TD CLASS=TDStyle7>No Slip Wall</TD>
  </TR>
  <TR>
    <TD CLASS=TDStyle5>Wall Roughness</TD>
    <TD CLASS=TDStyle7>Smooth Wall</TD>
  </TR>
</TABLE>
&nbsp;<br>

<h1 style='page-break-before:always'><a name=SECTION4.></a>4.&nbsp;User Data</h1>


</body>
</html>
